/* Body styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1; /* Warna latar belakang */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Title styling */
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Form styling */
form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    width: 100%;
}

/* Label styling */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

/* Input styling */
input[type="text"] {
    padding: 10px;
    width: calc(100% - 20px);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Button styling */
button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

/* Table container styling */
.table-container {
    margin-top: 20px;
    overflow-x: auto;
}

/* Table styling */
.styled-table {
    width: 50vw; /* Ukuran tabel setengah lebar layar */
    margin: 0 auto; /* Menengahkan tabel */
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
}

/* Table header and data cell styling */
.styled-table th, .styled-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-weight: bold; /* Membuat teks tebal */
    font-size: 24px; /* Ukuran font 24 */
}

/* Table header styling */
.styled-table th {
    background-color: #f2f2f2;
    text-transform: uppercase;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px; /* Memberikan jarak dengan tombol sebelah kanan */
}

button:hover {
    background-color: #2980b9;
}

.button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin-right: 10px;
}

.button:hover {
    background-color: #2980b9;
}

.button:nth-child(2) {
    animation: bounce 2s infinite; /* Animasi untuk tombol Home */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}
